<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="contDiv">
    <form [formGroup]="formularioRegistro" class="form">

      <ion-input label="Nombre" type="text" label-placement="floating" fill="outline" formControlName="nombre" class="input">
      </ion-input>
      <ion-input label="Correo" type="email" label-placement="floating" fill="outline" formControlName="correo" class="input">
      </ion-input>
      <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline" formControlName="contrasena"
        class="input">
      </ion-input>
      <ion-input label="Repetir Contraseña" type="password" label-placement="floating" fill="outline" formControlName="contrasena2"
        class="input">
      </ion-input>
      <ion-button expand="full" (click)="registrar()" class="button-registro">Iniciar</ion-button>
    </form>
  </div>
</ion-content>
